/*********************************************

This is the style file for this project.

**********************************************/
#create{display: none;text-align: center;margin-left: auto;margin-right: auto;margin-top: 5vh;}
#intro{text-align: center;margin-left: auto;margin-right: auto;margin-top: 5vh;}
.skin{width: 20vw;}
#next{position: absolute;left: 70vw;top:50vh;}
#prev{position: absolute;left: 30vw;top:50vh;}
#sel{position: absolute;left: 50vw;top:60vh;}
#check{background-color: white;position: absolute;width: 100%;height: 100%;top: 0px;}
#pitch{width: 40%;left:30vw;margin-top: 10vh;}
#voiceSel{width: 40%;left:30vw;margin-top: 10vh;}
#testVoice{position: absolute;top:90%;left:20%}
#chooseVoice{position: absolute;top:90%;left:50%}
#myFriend{width:20%;position: absolute;left:30vw;top:10vw;}
#options{position: absolute;left:30vw;top:50vw;}
#games{position: absolute;left:20vw;top:50vw;}
#optionTalk{position: absolute;left:30vw;top:50vw;}
button{margin: 20px;font-size:2.5vw;}
